{% extends "base.html" %}

{% block content %}
<h2><img src="static/img/mars.png">Аварийный доступ</h2>

<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">id астранавта</label>
  <input type="text" class="form-control" id="formGroupExampleInput">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Парль астранавта</label>
  <input type="text" class="form-control" id="formGroupExampleInput2">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">id капитана</label>
  <input type="text" class="form-control" id="formGroupExampleInput2">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Парль капитана</label>
  <input type="text" class="form-control" id="formGroupExampleInput2">
</div>
<button type="submit" class="btn btn-primary">Доступ</button>
{% endblock %}